version: 2
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:tap-tester-v4
      - image: singerio/postgres:9.6-wal2json-2.2
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        command: [postgres, -c, config_file=/usr/local/share/postgresql/postgresql.conf]
    steps:
      - checkout
      - run:
          name: 'Setup virtual env'
          command: |
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/sandbox dev_env.sh
            source dev_env.sh
            export LC_ALL=C
            python3 -m venv /usr/local/share/virtualenvs/tap-postgres
            source /usr/local/share/virtualenvs/tap-postgres/bin/activate
            pip install -U 'pip<19.2' setuptools
            pip install .
            pip install pylint
            source dev_env.sh
            make test
            pylint tap_postgres -d missing-docstring,invalid-name,line-too-long,too-many-locals,too-few-public-methods,fixme,stop-iteration-return,duplicate-code,useless-import-alias,bare-except,raise-missing-from
      - add_ssh_keys
      - run:
          name: 'Integration Tests'
          command: |
            source dev_env.sh
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            run-test --tap=tap-postgres \
                     --target=target-stitch \
                     --orchestrator=stitch-orchestrator \
                     --email=harrison+sandboxtest@stitchdata.com \
                     --password=$SANDBOX_PASSWORD \
                     --client-id=50 \
                     tests
workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
  build_daily:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: circleci-user
